<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="home">
        <div class="home-head">
            <h1> Welcome to the Marvel Pick Em</h1>
            
        </div>
        
        <div class="jumbotron search-form">
            <h3> Ever wondered how your favorite super heros would fare in a fight with the ultimate super villains?</h3>
            <h3> Now is your chance to find out</h3>
            <h3>Search for a superhero and add them to your team!</h3>
            <form method="GET" action="/hero/show">
                <label for="marvelName"></label>
                <input id="marvelName" type="text" name="name">
                <input type="submit">
            </form>
        </div>

        <h3> Click <a href="/hero/team">HERE</a> to see your team!</h3>

        <div id='splash-btm-img'>
            <img src="https://wallpaperaccess.com/full/1225711.jpg" alt="picture of all Marvel superheros">
        </div>

    </div>
    
</body>
</html>