<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1> Welcome to the Marvel Pick Em</h1>
        <h3> Ever wondered how your favorite super heros would fare in a fight the ultimate super villains?</h3>
        <h3> Now is your chance to find out</h3>

        <h3>Search for a superhero and add them to your team!</h3>

        <div>
            <form method="GET" action="/:name">
                <label for="marvelName"></label>
                <input id="marvelName" type="text" name="name">
                <input type="submit">
            </form>
        </div>

        <h3> Click <a href="/hero/team">HERE</a> to see your team!</h3>

        <div id='splash-btm-img'>

        </div>

        <div id='fight'>
            <h4>Dr. Strange has looked into the future and it doesn't look good... </h4>
            <h4>click <a href="/hero/villain">HERE</a> to see what he saw</h4>
        </div>
    </div>
    
</body>
</html>