<h3>Here is the superhero you searched for!</h3>

<%= hero.data.results[0].name %>

<img src="<%= hero.data.results[0].thumbnail.path %>.jpg">

<p> <%= hero.data.results[0].description %></p>


<% if (team.id <= 5) { %>
    <p>Click here to add this superhero to your team</p>
    <form method="POST" method="hero/team">
        <input type="submit">
    </form>
<% } %>