<h2> Welcome to Your Team!</h2>
<h2> Avengers Assemble and fight for the world!</h3>


<div id="team-img">
    <% team.forEach((hero) => { %>
        <h4> <%= hero.name %> </h3>
        <img src="<%= hero.image %>.jpg">
        <p> <%= hero.description %> </p>
    <% }) %>
</div>


<div id="upload">
    <p>The Avengers need a leader, only you can help them!</p>
    <p> <a href="/hero/upload">Create your own hero</a></p>
</div>

<div id="fight">
    <p>Are you ready to face the greatest threat the world has ever faced?</p>
    <p> <a href="/hero/fight">AVENGERS! LET'S FIGHT!</a></p>    
</div>