<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marvel Pick Em</title>
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="nav-elements">
                    <!-- if someone is logged in, and they hit this a, it will run the get route -->

                    <% if (currentUser) { %>
                        <a href='/auth/logout'>Logout</a>
                        <a href='/profile'>Profile</a>
                        <a href="/hero">Home</a>
                        <a href="/hero/team">Team</a>
                    <% }  else { %>
                        <a href="/auth/register">Register</a>
                        <a href="/auth/login">Login</a>
                    <% } %>
                    <div class="brand">
                        <a class="navbar-brand" href="/hero">
                            <img alt="Brand logo" src="https://images6.alphacoders.com/441/441993.jpg">
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <%- include('./partials/alerts') %>
            <%- body %>
        </div>


         <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>